#calculator-background {
  background-color: black;
  margin-top: 200px;
  margin-bottom: 200px;
  height: 375px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
}

.blank-space {
  height: 20px;
}

.panel {
  background-color: white;
  border-radius: 5px;
  text-align: right;
  justify-content: center;
  height: 50px;
}

.panel-text {
  font-size: 40px;
  margin-right: 8%;
  margin-left: 8%;
}

.button-row {
  background-color: black;
  border-radius: 5px;
  justify-content: space-between;
  height: 35px;
  display: flex;
}

button {
  height: 35px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.calculator-button {
  background-color: white;
  width: 20%;
}

.calculator-wide-button {
  background-color: white;
  width: 46.666%;
}

.calculator-equal {
  background-color: orange;
  width: 100%;
}

.font-styles {
  font-family: sans-serif;
}
